<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="donacije.Properties.Settings.Baza_nekaConnectionString" connectionString="Data Source=120-00\SQLEXPRESS;Initial Catalog=Baza_neka;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="donacije.Properties.Settings.naloziConnectionString" connectionString="Data Source=120-00\SQLEXPRESS;Initial Catalog=nalozi;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
